<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <title>JustBe Marketplace</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

    <div class="wrapper">
        <div class="market">
            <% if(info != null) {%>
            <% info.forEach(function(NFT, index) { %>
                <div class="cardcontent">
                    <div class="market__card">
                        <h2 class="market__card__title">
                            NFT #<%- index+1 %>
                        </h2>
                        <p class="market__card__body"> 
                            NFT ID: <%- NFT._id %> 
                        </p>
                        <a href="/market/<%-NFT._id %>" class="card__button">Learn More</a>
                        <div id= "<%- NFT._id %>" class = "card__button__img" onclick= "process(this, this.children[0])">
                            <img id="cardShoppingStatus<%- index %>" src="../img/plusSign.png" width="15" height="15"></img>
                        </div>
                    </div>
                </div>
            <% }) %>
            <% } else { %>
                No information available.
            <% } %>
            
        </div>
    </div>

    <script>
        var selected;
        var items = [];
        function process(el, elChild) {
           if (selected) {
                el.style.backgroundColor = "#6b6b6b";
                elChild.src = "../img/plusSign.png";
                selected = false;
                removeFromCart(el);
            } else {
                el.style.backgroundColor = "#3CB043";
                elChild.src = "../img/checkmark.png";
                selected = true;
                addtoCart(el);
            }
        }

        function addtoCart(el) {
            items.push(el.id);
            document.getElementById("cart").href = "/cart?id=" + items.toString();
            console.log(items.toString());
        }

        function removeFromCart(el) {
            console.log(el.id)
            var itemIndex = items.indexOf(el.id);
            if(itemIndex > -1) {
                items.splice(itemIndex, 1);
            }
            document.getElementById("cart").href = "/cart?id=" + items.toString();
            console.log(items.toString());
        }
    </script>
</body>
</html>